.group-item {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.group-item h3 {
    margin: 0;
}

.group-item p {
    margin-top: 10px;
    font-size: 0.9em;
}