.search-bar {
    display: flex;
    flex: 1;
    margin-right: 10px;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: rgb(230, 131, 131);
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: rgb(197, 52, 52);
  }
  